<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Planner.Controls.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Planner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Planner.Controls.Properties.Settings>
            <setting name="Note_AddDateToName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Note_AppendDateToNote" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimeSheet_SetEndTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimeSheet_SetStartTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimeSheet_ShowJobTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimeSheet_OpenQuickAdd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Planner_HideOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Planner_CalcTotalTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Planner_MinimizeToSystemTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimeSheet_EnableCategories" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimeSheet_EnableTodoItemLink" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimeSheet_SetTodoCompleteOnEndTime" serializeAs="String">
                <value>True</value>
            </setting>
        </Planner.Controls.Properties.Settings>
        <Planner.Properties.Settings>
            <setting name="Path" serializeAs="String">
                <value />
            </setting>
        </Planner.Properties.Settings>
    </userSettings>
</configuration>